<h1 class="current-category"><%= params[:category] %></h1>

<% if @stories.count == 0 %>

	<h1>There are no stories currently in this category</h1>

<% else %>	

	<div class="row">

		<% @stories.each do |story| %>

			<div class="col-md-3">
				<a href="/stories/<%= story.id %>">
					<%= image_tag story.story_img.url(:story_index), class: "story" %>
				</a>
			</div>	

		<% end %>

	</div>
	
<% end %>	

<%= link_to "Add story", new_story_path %>s