<h2>All Categories</h2>

<h1 class="current-category"><%= params[:category] %></h1>

<% if @stories.count == 0 %>

	<h1>There are no stories currently in this category</h1>

<% else %>	

	<div class="row">

		<% @stories.each do |story| %>

			<div class="col-md-4">
				<a href="/stories/<%= story.id %>">
					<%= image_tag story.story_img.url(:story_index), class: "story" %>
					<h3><%= story.headline %></h3> 
				</a>
				</div>	
			
			

		<% end %>

	</div>
	
<% end %>	

